#feedback{
    display: flex;
    position: absolute;
    width: 250px;
    height: 100px;
    top: 0;
    right: 0;
    margin: 40px 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding: 15px;
    color: white;
    font-family: Arial, sans-serif;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

#modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#patient-register{
    font-size: 22px;
    margin-left: -25px;
    font-weight: bold;
    color: #356b69;
}

#back-arrow{
    position: sticky;
    right: 100%;
    margin-top: 10px;
    background: none;
    border: none;
    cursor: pointer;   
}

#inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    color: #0b4d4b;
}

.write-info{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #2f8784;
    padding: 5px;
}

.write-info:focus{
    outline: none;
}

p{
    margin: 12px 0 8px;
}

.row-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

#name, #deficiency{
    width: 25vw;
}

#age, #degree{
    width:10vw;
}

#first-appointment{
    width: 98%;
}

#hobbies, #background{
    width: 98%;
    height: 1%;
    resize: none;
    font-family: Arial, sans-serif;
}

.didnt-write{
    font-size: 14px;
    color: white;
    display: none;
    margin: 0;
}

.alert-error{
    background-color: rgba(255, 0, 0);
    width: fit-content;
    margin: 5px 0 0 0;
    padding: 2px;
    display: none;
}

#alert-name-error, #alert-last-name-error, #alert-email-error, #alert-pass-error, #name-error, #last-name-error, #email-error, #pass-error{
    display: none;
}

#register-patient{
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-button{
    margin: 10px;
    background: none;
    width: 30%;
    height: 40px;
    font-size: 100%;
    cursor: pointer;
    color:  #356b69;
    border-radius: 10px;
    border: 3px solid #2f8784;
    font-weight: bold;
}

#register-button:hover{
    box-shadow: 0 0 25px #356b69;
}